# Example application configuration file

version = "1.0";
name = "pokey configuration file";

configuration:
{
  devices =  (
    {
      serialNumber = "25477",
      name = "test device"
    },
    {
      serialNumber = "123456",
      name = "test device2"
    }
  )
 
};